<%= link_to 'Sign in', new_user_session_path %> 
<%= link_to 'Sign up', new_user_registration_path %>
<% if user_signed_in? %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> 
    <%= link_to current_user.email, "/users/show" %>
<% end %>
<hr>
<h1>PROFILE</h1>
<h3>Mail address</h3>
<%= current_user.email %>


